@charset "UTF-8";
/* CSS Document */
* {
	box-sizing: border-box;
}

/* ----------------------------------- VARIABLES ----------------------------------- */
:root {
  --main-color: #FF7F00; /* orange */
  --dark-color: #10031E; /* dark purple */
  --accent-color: #321752; /* light purple */
  --black-color: #02000F; /* black */
  --text-highlight-color: #FFFFFF; /* white */
  --p-text: #FFFFFF; /* white */
  --light-color: #F4F3F2; /* lightest grey */
  --light-fg-color: #FCFCFB; /* white */
  --primary-font: 'Josefin Sans', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --text-align: left;
  --line-height: 1.6;
}


/* ----------------------------------- GLOBAL STUFF ----------------------------------- */

html{
	scroll-behavior: smooth;
}

html, body{
	background-color: var(--dark-color);
	color: var(--light-fg-color);
	padding: 0 0 0 0;
	margin: 0;
	color: var(--main-color);
	font-family: var(--primary-font);
	max-width: 100%;
	overflow-x: hidden;
	height: 100%;
}




h1{
	margin: 0 25px 0;
	bottom: 20%;
	color: var(--text-highlight-color);
	position: absolute;
	font-size: 12.8vw;
	font-weight: lighter;
	line-height: 1.208;
	z-index: 0;
}

h1 em{
	font-size: 13.33vw;
	font-style: normal;
	font-weight: 800 !important;
}

h2{
	font-size: 20px;
	margin-top: 0;
	line-height: 1.5;
	font-weight: 700;
	padding-top: 5px;
}

h2 em{
	color: var(--text-highlight-color);
	font-style: normal;
	font-size: 28px;
}

h2.countdown{
	text-align: center;
	font-size: 30px;
	color: var(--text-highlight-color);
	margin: 50px 0;
}

h3{
	color: var(--p-text);
	font-size: 11px;
	font-weight: 400;
}

h3.date{
	position: absolute;
	left: 60px;
	top: 12px;
}

p{
	font-family: var(--secondary-font);
	color: var(--p-text);
	line-height: var(--line-height);
	font-size: 14px;
	font-weight: regular !important;
}

div.top-bar p{
	position: absolute;
	right: 14px;
	font-size: 16px;
}


.top-bar{
	position: absolute;
	height: 75px;
	background: linear-gradient(#10031e, #10031ecc 40%, #10031e00);
	z-index: 100;
	width: 100%;
}

.logo{
	background: url('images/icons/logo.svg');
	width: 27px;
	height: 30px;
	position: absolute;
	left: 15px;
	top: 12px;
}

div.burger-menu{
	width: 34px;
	top: 17px;
	position: absolute;
	right: 50px;
}

div.burger-menu div{
	background-color: #fff;
	height: 4px;
	border-radius: 100px;
	margin-bottom: 5px;
	float: right;
	display: block;
}

.bar1{
	width: 15px;
}

.bar2{
	width: 23px;
}

.bar3{
	width: 32px;
}

.banner{
	height: 100vh;
	position: relative;
	top: 0;
	background: url('images/fb-images/banner1.jpg');
	background-size: 150%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.gradient-overlay{
	background: linear-gradient(#10031e17, #10031e99);
	height: 100%;
}

.pull-tab{
	height: 40px;
	width: 100vw;
	border-radius: 24px 24px 0px 0px;
	border: solid 3px var(--accent-color);
	border-bottom: none;
	box-sizing: content-box;
	left: -3px;
	bottom: 0;
	position: absolute;
	background-color: var(--dark-color);
	box-shadow: 0 -5px 25px #000;
}

.tab-line{
	width: 40px;
	height: 6px;
	margin: 12px auto 0;
	background-color: var(--accent-color);
	border-radius: 100px;
}

.content{
	background-color: var(--dark-color);
	z-index: 2;
	position: relative;
}

article{
	padding: 0 25px;
}

.img-wrap{
	height: 100vw;
}

img{
	height: 100vw;
	object-fit: cover;
	display: block;
	top: -75px;
	position: relative;
}

.gradient-transition-top{
	background: linear-gradient(#10031e, #10031e00);
	height: 75px;
	width: 100%;
	display: block;
	z-index: 1;
	position: relative;
}

.gradient-transition-bottom{
	background: linear-gradient(#10031e00, #10031e);
	height: 75px;
	width: 100%;
	display: block;
	z-index: 1;
	position: relative;
	top: -150px;
}

footer{
	text-align: center;
	color: #fff;
}

footer div.info-footer{
	background-color: var(--main-color);
}

footer div.sponsors{
	background-color: var(--black-color);
	height: 100vw;
	width: 100%;
}



/* --------------- MOBILE SUB PAGE STYLES -----------------------------*/

.sub-banner {
	height: 40vh;
	position: relative;
	top: 0;
	background: url('images/fb-images/banner1.jpg');
	background-size: 114%;
	background-position: center;
	background-repeat: no-repeat;
}

.sub-gradient-transition-bottom {
background: linear-gradient(#10031e00, #10031e);
    height: 42vw;
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
	top: -150px;	
}

.sub-header {
	margin: 0vw 3vw -9vw;
    bottom: 20%;
    color: var(--text-highlight-color);
    position: absolute;
    font-size: 12.8vw;
    font-weight: lighter;
    line-height: 1.208;
    z-index: 2;
}

.sub-sectiontop, .sub-section{
	padding: 0 4vw;
}

.sub-question {
	font-size: 6vw;
	margin-top: 0;
	margin-bottom: .5vw;
	line-height: 1.5;
	font-weight: 700;
	padding-top: 1vw;
}

.sub-tip {
	color: var(--p-text);
	font-family: var(--primary-font);
	font-size: 5vw;
	font-weight: lighter;
	margin-top: 0;
	line-height: 1.5;
}


/* --------------- MOBILE INFO SUBPAGE STYLES -----------------------------*/

hr {
	width: 90vw;
	opacity: .7;
}

.article-header {
	font-size: 5vw;
	width: 83vw;
}

.fas.fa-chevron-down, .fas.fa-chevron-up {
	color: white;
	font-size: 8vw;
    padding-top: 3vw;
}

#item-container {
	display: flex;
}









