@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

/* ----------------------------------- VARIABLES ----------------------------------- */

:root {
	--main-color: #FF7F00;
	/* orange */
	--dark-color: #10031E;
	/* dark purple */
	--accent-color: #321752;
	/* light purple */
	--black-color: #02000F;
	/* black */
	--text-highlight-color: #FFFFFF;
	/* white */
	--p-text: #FFFFFF;
	/* white */
	--light-color: #F4F3F2;
	/* lightest grey */
	--light-fg-color: #FCFCFB;
	/* white */
	--primary-font: 'Josefin Sans', sans-serif;
	--secondary-font: 'Montserrat', sans-serif;
	--text-align: left;
	--line-height: 1.6;
}

/* ----------------------------------- GLOBAL STUFF ----------------------------------- */

html {
	scroll-behavior: smooth;
}

html,
body {
	background-color: var(--dark-color);
	color: var(--light-fg-color);
	padding: 0 0 0 0;
	margin: 0;
	color: var(--main-color);
	font-family: var(--primary-font);
	max-width: 100%;
	overflow-x: hidden;
	height: 100%;
}

::selection {
	background-color: var(--main-color);
	color: var(--light-fg-color);
}

::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-track {
	background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
	background: var(--main-color);
  }


/* --------------- TEXT -----------------------------*/

h1 {
	margin: 0 25px 0;
	bottom: 20%;
	color: var(--text-highlight-color);
	position: absolute;
	font-size: 12.8vw;
	font-weight: lighter;
	line-height: 1.208;
	z-index: 0;
	text-transform: uppercase;
}

h1 em {
	font-size: 13.33vw;
	font-style: normal;
	font-weight: 800 !important;
}

h2 {
	font-size: 20px;
	margin-top: 0;
	line-height: 1.5;
	font-weight: 700;
	padding-top: 5px;
	text-transform: uppercase;
}

h2 em {
	color: var(--text-highlight-color);
	font-style: normal;
	font-size: 28px;
}

h2.countdown {
	text-align: center;
	font-size: 30px;
	color: var(--text-highlight-color);
	margin: 50px 0;
	text-transform: lowercase;
}

h3 {
	color: var(--p-text);
	font-size: 11px;
	font-weight: 400;
}

h3.date {
	position: absolute;
	left: 60px;
	top: 12px;
}

h3.date a{
	text-decoration: none;
	color: #fff;
}

p {
	font-family: var(--secondary-font);
	color: var(--p-text);
	line-height: var(--line-height);
	font-size: 3.5vw;
	font-weight: normal;
}

div.top-bar p {
	position: absolute;
	right: 14px;
	font-size: 16px;
}

/* --------------- TOP-BAR -----------------------------*/

.top-bar {
	position: absolute;
	height: 75px;
	background: linear-gradient(#10031e, #10031ecc 40%, #10031e00);
	z-index: 100;
	width: 100%;
}

.logo {
	background: url('images/icons/logo.svg');
	width: 27px;
	height: 30px;
	position: absolute;
	left: 15px;
	top: 12px;
}

div.burger-menu {
	width: 34px;
	top: 17px;
	position: absolute;
	right: 50px;
}

div.burger-menu div div {
	background-color: #fff;
	height: 4px;
	border-radius: 100px;
	margin-bottom: 5px;
	float: right;
	display: block;
}

.bar1 {
	width: 15px;
}

.bar2 {
	width: 23px;
}

.bar3 {
	width: 32px;
}

/* --------------- NAVIGATION -----------------------------*/

.exit {
	height: 27px;
	position: relative;
}

.cross1 {
	transform: rotate(45deg);
	width: 32px;
	top: 10px;
	position: absolute;
	margin: 0 !important;
	right: -4px;
}

.cross2 {
	transform: rotate(-45deg);
	width: 32px;
	top: 10px;
	position: absolute;
	margin: 0 !important;
	right: -4px;
}

.nav-overlay {
	height: 100vh;
	width: 100vw;
	background-color: var(--dark-color);
	text-align: center;
	position: absolute;
	z-index: 99;
}

div.nav-overlay nav ul {
	list-style: none;
	padding: 0;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	line-height: 2.025;
	position: relative;
	top: 110px;
	margin: 0;
}

div.nav-overlay nav ul li a:hover {
	border-bottom: solid 2px #fff !important;
}

div.nav-overlay nav ul li a {
	text-decoration: none;
	color: #fff;
}

div.nav-overlay nav ul li a.active {
	color: var(--main-color);
	border: none;
}

.hidden {
	visibility: hidden;
}

.hidden-display {
	height: 0 !important;
	opacity: 0 !important;
	overflow: hidden;
	margin: 0;
	/* transition-property: height;
	transition-duration: 1s; */
	/* display: none; */
}

.lang-popup {
	height: auto;
	width: 50px;
	position: absolute;
	z-index: 99;
	padding-top: 30vw;
	right: 0;
}

.popup-window {
	width: 50px;
	height: 150px;
	margin: 0 auto;
	background-color: var(--dark-color);
	border: 2px solid var(--accent-color);
	display: block;
	border-radius: 0 0 24px 24px;
	text-align: center;
	color: #fff;
	line-height: 1.6;
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 58px;

}

div.popup-window div:hover {
	color: var(--main-color);
}

.popup-window div.active {
	color: var(--main-color);
}

.btn-dk {
	width: 100%;
	height: 40px;
	display: block;
	float: left;
	text-align: center;
}

.btn-en {
	width: 100%;
	height: 50px;
	display: block;
	float: left;
	text-align: center;
}

div.lang {
	background: url('images/icons/lang.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	margin: 10px;
	z-index: 1000;
	position: absolute;
	right: 3px;
	top: 5px;
}


/* --------------- BANNER -----------------------------*/

.banner {
	height: 100vh;
	position: relative;
	top: 0;
	background: url('images/fb-images/banner2.jpg');
	background-size: 150%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.banner i{
	display: none;
}

.gradient-overlay {
	background: linear-gradient(#10031e17, #10031e99);
	height: 100%;
}

.pull-tab {
	height: 40px;
	width: 100vw;
	border-radius: 24px 24px 0px 0px;
	border: solid 3px var(--accent-color);
	border-bottom: none;
	box-sizing: content-box;
	left: -3px;
	bottom: 0;
	position: absolute;
	background-color: var(--dark-color);
	box-shadow: 0 -5px 25px #000;
}

.tab-line {
	width: 40px;
	height: 6px;
	margin: 12px auto 0;
	background-color: var(--accent-color);
	border-radius: 100px;
}

/* --------------- CONTENT -----------------------------*/

.content {
	background-color: var(--dark-color);
	z-index: 2;
	position: relative;
	padding-bottom: 50px;
}

article {
	padding: 0 25px;
}

.img-wrap {
	height: 100vw;
}

.img-wrap-artists {
	width: 100%;
	height: 650px;
	display: block;
	float: left;
	padding: 0 25px;
}

.img-wrap-artists img:last-child {
	float: right;
	display: block;
}

img {
	height: 100vw;
	object-fit: cover;
	display: block;
	top: -75px;
	position: relative;
}

.img-wrap-artists img {
	border-radius: 24px;
	width: 250px;
	height: 250px;
	top: 0;
	margin: 25px 0;
	float: left;
	display: block;
	box-shadow: 5px -5px 25px #000;
}

.gradient-transition-top {
	background: linear-gradient(#10031e, #10031e00);
	height: 75px;
	width: 100%;
	display: block;
	z-index: 1;
	position: relative;
}

.gradient-transition-bottom {
	background: linear-gradient(#10031e00, #10031e);
	height: 75px;
	width: 100%;
	display: block;
	z-index: 1;
	position: relative;
	top: -150px;
}

section.newsletter{
	display: block;
	width: 100%;
	text-align: center;
	padding: 0 25px;
}

section.newsletter p{
	width: 100%;
	margin-bottom: 20px;
}

.newsletter div.input-container{
	display: block;
	width: 100%;
	margin: 0 auto;
	height: 60px;
	background-color: var(--main-color);
	border-radius: 14px;
	position: relative;
}

.newsletter div.input-container input{
	position: absolute;
	left: 5px;
	border-radius: 14px;
	top: 5px;
	height: 50px;
	width: 75%;
	padding: 0 20px 0;
	background-color: var(--dark-color);
}

.newsletter div.input-container input::placeholder{
	font-size: 5vw;
	font-family: var(--secondary-font);
}

.newsletter div.input-container div{
	background: url('images/icons/arrow-right.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 15%;
	position: absolute;
	right: 12px;
	height: 100%;
}

/* --------------- MOBILE FOOTER STYLES -----------------------*/

footer {
	text-align: center;
	color: #fff;
}

.info-footer i {
	font-size: 60px;
	margin: 10px 10px;
	cursor: pointer;
}

.info-footer hr {
	width: 100%;
	color: #fff;
	opacity: 1;
	border: #fff solid 1px;
	margin: 20px 0;
}

.info-footer nav ul {
	padding: 0;
	list-style: none;
	color: #fff;
}

.info-footer nav ul li {
	margin-bottom: 15px;
}

.info-footer nav ul li a {
	color: #fff;
	text-decoration: none;
}

.info-footer nav ul li:hover {
	text-decoration: underline;
}

footer div.info-footer {
	background-color: var(--main-color);
	padding: 20px;
}

footer div.sponsors {
	background-color: var(--black-color);
	width: 100%;
	padding: 20px;
}

hr {
	margin: 0;
}

.sponsor1 {
	width: 150px;
	height: 80px;
	background: url('images/icons/sponsor1.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.sponsor2 {
	width: 150px;
	height: 80px;
	background: url('images/icons/sponsor2.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.sponsor3 {
	width: 150px;
	height: 80px;
	background: url('images/icons/sponsor3.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.sponsor4 {
	width: 150px;
	height: 80px;
	background: url('images/icons/sponsor4.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.sponsor5 {
	width: 150px;
	height: 80px;
	background: url('images/icons/sponsor5.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.logo2 {
	width: 250px;
	height: 80px;
	background: url('images/icons/logo2.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

/* --------------- MOBILE SUB PAGE STYLES -----------------------------*/
/* --------------- GLOBAL MOBILE SUB PAGE STYLES -----------------------------*/

.sub-banner {
	height: 75vw;
	position: relative;
	top: 0;
	background: url('images/fb-images/banner2.jpg');
	background-size: 114%;
	background-position: center;
	background-repeat: no-repeat;
}

.sub-gradient-transition-bottom {
	background: linear-gradient(#10031e00, #10031e);
	height: 42vw;
	width: 100%;
	display: block;
	z-index: 1;
	position: absolute;
	bottom: 0;
}

.sub-header {
	bottom: 10%;
	color: var(--text-highlight-color);
	position: absolute;
	font-size: 12.8vw;
	font-weight: lighter;
	line-height: 1.208;
	z-index: 2;
}

.sub-sectiontop,
.sub-section {
	padding: 0 5vw;
}

.sub-question {
	font-size: 6vw;
	margin-top: 0;
	margin-bottom: .5vw;
	line-height: 1.5;
	font-weight: 700;
	padding-top: 1vw;
}

.sub-tip {
	color: var(--p-text);
	font-family: var(--secondary-font);
	font-size: 5vw;
	font-weight: lighter;
	margin-top: 0;
	line-height: 1.5;
}

/* --------------- MOBILE INFO/SIGNUP SUBPAGE STYLES -----------------------------*/

hr {
	width: 100%;
	opacity: .7;
}

.article-header {
	margin: 0;
	padding: 2vw 0;
	display: block;
	font-size: 5vw;
	width: 100%;
}

i.fas.fa-chevron-down {
	color: white;
	font-size: 8vw;
	padding-top: 3vw;
	position: absolute;
	right: 0;
}

.item-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

section.sub-sectiion>hr:last-of-type {
	margin-bottom: 50px !important
}

.item-description {
	line-height: 1.8;
	font-family: var(--primary-font);
	font-size: 3.8vw;
	font-weight: lighter;
	height: 40vw;
	opacity: 1;
	transition-property: height, opacity;
	transition-duration: 1s, 1s;
	margin: 0;
}

.hidden {
	display: none;
}

/* --------------- MOBILE CONTACT SUBPAGE STYLES ---------------------*/

textarea {
	padding: 2vw;
	width: 83vw;
	height: 50vw;
	background-color: #52465C;
	margin-top: 3vw;
	border-radius: 5px;
	color: white;
	border: none;
	resize: none;
}

input {
	background-color: #52465C;
	width: 42vw;
	height: 7vw;
	color: white;
	border-radius: 2px;
	border: none;
}

.btn {
	background-color: var(--main-color);
	font-family: var(--primary-font);
	border: none;
	color: white;
	font-weight: bold;
	box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, .5);
	transition: all .1s ease-out;
	cursor: pointer;
	margin-top: 3vw;
	font-size: 4vw;
	border-radius: 5px;
	margin-bottom: 6vw;
	width: 30vw;
	height: 10vw;
	padding: 3vw;
}

label {
	display: inline-block;
	width: 31vw;
	font-size: 4vw;
}

.btn:active {
	box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, .5);
}

legend {
	font-size: 4.2vw;
}

fieldset {
	padding-top: 3vw;
	border-radius: 5px;
	margin: 0;
}

input::placeholder {
	color: white;
	font-family: var(--primary-font);
	font-size: 13px;
	font-weight: lighter;
}

textarea::placeholder {
	color: white;
	font-family: var(--primary-font);
	font-size: 13px;
	font-weight: lighter;
}

input[type=text] {
	color: white;
	font-family: var(--primary-font);
	font-size: 13px;
	font-weight: lighter;
}

textarea[type=text] {
	color: white;
	font-family: var(--primary-font);
	font-size: 13px;
	font-weight: lighter;
}

.contact-container {
	display: flex;
	margin-top: 10vw;
	margin-bottom: 10vw;
}

.contact-header {
	font-size: 4vw;
}

.contact-name {
	color: white;
	margin-bottom: 1vw;
	margin-top: 1vw;
}

.contact-info {
	width: 45vw;
	height: auto;
}

.contact-info p {
	font-size: 3.5vw;
}

.contact-image {
	width: 45vw;
	height: 55vw;
	border: 1px solid white;
}

.contact-reps {
	margin-left: 5vw;
}

/* --------------- MOBILE LINE-UP SUBPAGE STYLES ---------------------*/

.content section.tables {
	width: 100vw;
	margin: 0;
}

.table-wrapper {
	position: relative;
	margin-bottom: 100px;
}

.scrollable {
	overflow: scroll;
	position: relative;
}

.scrollable::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: transparent;
	padding: 20px;
}

::-webkit-scrollbar-thumb {
	/* background: #52465C; */
	background: var(--main-color);
	border-radius: 10px;
}

.scroll-arrow-wrapper {
	position: absolute;
	right: 0;
	z-index: 1;
	background: linear-gradient(90deg, #10031e00, #10031e);
	height: 100%;
	width: 10vw;
}

.scroll-arrow {
	position: absolute;
	top: 42%;
	right: 0;
	font-size: 10vw;
	z-index: 2;
}

table {
	color: var(--p-text);
	font-size: 5vw;

}

table tr:first-of-type th:first-of-type {
	font-weight: lighter;
}

th,
td {
	padding: 20px;
	border-bottom: 1px solid white;
	/* border-right: 1px solid white; */
}

th {
	text-align: left;
	text-transform: uppercase;
}

td {
	font-weight: lighter;
}




/* --------------- GRID ITEMS -----------------------------*/

.item-a {
	grid-area: section1;
}

.item-b {
	grid-area: img1;
}

.item-c {
	grid-area: section2;
}

.item-d {
	grid-area: img2;
}

/* --------------- MEDIA QUERIES DESKTOP -----------------------------*/

@media (min-width: 768px) {

	/* --------------- LANDING PAGE DESKTOP -----------------------------*/
	h3.date {
		left: 0;
		top: 30px;
		margin: 0;
		font-size: 2vw;
		font-weight: 100;
		width: 100%;
		text-align: center;
	}

	p {
		font-size: 17px;
		line-height: 1.6;
		/* font-weight: 100; */
	}

	.logo {
		width: 38px;
		height: 46px;
		left: 50px;
		top: 16px;
		background-repeat: no-repeat;
	}

	div.burger-menu {
		top: 30px;
		right: 70px;
	}

	div.lang {
		right: 13px;
		top: 18px;
	}

	.lang-popup {
		right: 10px;
	}

	div.top-bar p {
		font-size: 27px;
	}

	.nav-overlay {
		background-color: transparent;
	}

	.img-bcg {
		height: 100%;
		width: 100%;
		/* background: url('images/fb-images/banner2.jpg');
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		background-attachment: fixed; */
		z-index: -1;
		position: absolute;
		/* filter: blur(8px); */
	}

	.dark-transparency {
		height: 160%;
		width: 100%;
		/* background: linear-gradient(#10031e, #10031e00); */
		background-color: var(--dark-color);
		opacity: 0.9
	}

	span {
		display: none;
	}

	h1 {
		font-size: 6.1vw;
		margin: 0 auto;
		width: 100vw;
		text-align: center;
		bottom: 35%;
	}

	h1 em {
		font-size: 6.6vw;
	}

	h2 {
		font-size: 25px;
		line-height: 1.42;
	}

	h2 em {
		font-size: 30px;
	}

	.item-a p {
		padding-bottom: 50px;
	}

	.item-a {
		padding-top: 50px;
	}

	.item-c {
		padding-top: 5vw;
		float: right;
	}

	.banner {
		background: url('images/fb-images/banner2.jpg');
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	.banner i{
		display: block;
		text-align: center;
		width: 100%;
		position: absolute;
		bottom: 50px;
	}
	
	.pull-tab {
		background: linear-gradient(#10031e00, #10031ecc 60%, #10031e);
		height: 75px;
		width: 100%;
		border: none;
		box-shadow: none;
		left: 0px;
	}

	.tab-line {
		display: none;
	}

	img {
		height: 100%;
		width: 100%;
		border-radius: 10px;
		box-shadow: 5px -5px 25px #000;
		top: 0;
	}

	.gradient-transition-top {
		display: none;
	}

	.gradient-transition-bottom {
		display: none;
	}

	.img-wrap {
		height: 500px;
		width: 500px;
		display: block;
		float: left;
	}

	article {
		padding: 0 50px;
		width: 500px;
		display: block;
		float: left;
	}

	.container-section {
		display: block;
		margin: 50px auto 0;
		width: 1000px;
	}

	.countdown-wrap {
		height: 30vw;
		width: 100vw;
		display: block;
		float: left;
		background: url('images/fb-images/audience.jpg');
		background-size: 120%;
		background-position: center 70%;
		background-repeat: no-repeat;
		position: relative;
		margin: 50px 0;
	}

	.countdown-overlay {
		height: 100%;
		width: 100%;
		background: linear-gradient(#10031e, #10031e00);
		display: block;
	}

	h2.countdown {
		position: absolute;
		font-size: 7vw;
		text-align: center;
		width: 80vw;
		left: 10vw;
		padding: 0;
		top: 5vw;
	}

	.countdown-gradient-bottom {
		height: 30%;
		width: 100%;
		background: linear-gradient(#10031e00, #10031e);
		display: block;
		position: absolute;
		bottom: 0;
	}

	.content section {
		/* width: 1000px; */
		margin: 0 auto 50px;
	}

	.sub-sectiontop,
	.sub-section {
		padding: 0 4vw;
		width: 70vw;
	}

	.sub-banner {
		background: url('images/fb-images/banner2.jpg');
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.sub-gradient-transition-bottom {
		height: 10vw;
		display: none;
	}

	h1.sub-header em {
		font-size: 6vw !important;
	}

	h2.sub-question {
		font-size: 3vw;
		margin-top: 1vw;
	}

	.sub-tip {
		font-size: 20px;
	}

	.article-header {
		font-size: 26px;
	}

	i.fas.fa-chevron-down {
		font-size: 47px;
		padding-top: 12px;
		right: 10px;
	}

	.sub-section {
		margin-bottom: 200px;
	}

	/*
	div.countdown-wrap div.gradient-transition-bottom{
		height: 10vw;
		display: block;
	}
*/

	section.newsletter {
		display: block;
		float: left;
		width: 100%;
		text-align: center;
		margin-bottom: 100px;
	}

	section.newsletter p {
		width: 100%;
	}

	.newsletter div.input-container {
		display: block;
		width: 500px;
		margin: 0 auto;
		height: 80px;
		background-color: var(--main-color);
		border-radius: 14px;
		position: relative;
	}

	.newsletter div.input-container input {
		position: absolute;
		left: 10px;
		border-radius: 14px;
		top: 10px;
		height: 60px;
		width: 75%;
		padding: 0 20px 0;
		background-color: var(--dark-color);
	}

	.newsletter div.input-container input::placeholder {
		font-size: 20px;
		font-family: var(--secondary-font);
	}
	
	.newsletter div.input-container div{
		background: url('images/icons/arrow-right.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 15%;
		position: absolute;
		right: 20px;
		height: 100%;
	}
	
	footer {
		display: block;
		float: left;
		width: 100vw;
	}

	/* --------------- GLOBAL DESKTOP DESKTOP STYLES ----------------------*/
	.sub-banner {
		height: 30vw;
		position: relative;
		top: 0;
		background: url('images/fb-images/banner2.jpg');
		background-size: 114%;
		background-position: center;
		background-repeat: no-repeat;
	}

	.sub-gradient-transition-bottom {
		background: linear-gradient(#10031e00, #10031e);
		height: 20vw;
		width: 100%;
		display: block;
		z-index: 1;
		position: absolute;
		bottom: -1px;
	}

	.sub-header {
		bottom: 35%;
		color: var(--text-highlight-color);
		position: absolute;
		font-size: 8vw;
		font-weight: lighter;
		line-height: 1.208;
		z-index: 2;
	}

	.sub-sectiontop,
	.sub-section {
		padding: 0 5vw;
	}

	.sub-question {
		font-size: 1.5vw;
		margin-top: 0;
		margin-bottom: .5vw;
		line-height: 1.5;
		font-weight: 700;
		padding-top: 1vw;
	}
/* .sub-tip {
	color: var(--p-text);
	font-family: var(--secondary-font);
	font-size: 2.2vw;
	font-weight: lighter;
	margin-top: 0;
	line-height: 1.5;
} */

	.sub-tip {
		color: var(--p-text);
		font-family: var(--primary-font);
		font-size: 2.2vw;
		font-weight: lighter;
		margin-top: 0;
		line-height: 1.5;
	}

	.sub-section {
		margin-bottom: 200px;
		/* width: 75vw; */
		/* margin: 8vw auto; */
	}

	.flexbox {
		display: flex;
		flex-wrap: wrap;
	}

	/* --------------- SIGNUP/INFO PAGE DESKTOP -----------------------------*/

	hr {
		width: 100%;
		opacity: .7;
	}

	.article-header {
		font-size: 2vw;
		width: 100%;
	}

	i.fas.fa-chevron-down {
		color: white;
		font-size: 3vw;
		padding-top: 1.5vw;
		padding-right: 1vw;
		position: absolute;
		right: 0;
	}

	.item-container {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	.item-description {
		line-height: 1.8;
		font-family: var(--primary-font);
		font-size: 2.2vw;
		font-weight: lighter;
		height: 20vw;
		opacity: 1;
		transition-property: height, opacity;
		transition-duration: .7s, .7s;
		margin: 0;
		max-width: 60%;
	}

	.hidden {
		display: none;
	}


	/* --------------- CONTACT PAGE DESKTOP -----------------------------*/

	textarea {
		padding: 1vw;
		width: 45vw;
		height: 30vw;
		background-color: #52465C;
		margin-top: 2vw;
		border-radius: 5px;
		color: white;
	}

	input {
		background-color: #52465C;
		width: 23vw;
		height: 4vw;
		color: white;
		border-radius: 2px;
	}

	.btn {
		background-color: var(--main-color);
		font-family: var(--primary-font);
		border: none;
		color: white;
		font-weight: bold;
		box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, .5);
		transition: all .1s ease-out;
		cursor: pointer;
		margin-top: 1vw;
		font-size: 1.5vw;
		border-radius: 5px;
		width: 14vw;
		height: 4vw;
		padding: 2.5vw;
	}

	label {
		display: inline-block;
		width: 12vw;
		font-size: 1.5vw;
	}

	.btn:active {
		box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, .5);
	}

	legend {
		font-size: 2vw;
	}

	fieldset {
		padding-top: 3vw;
		border-radius: 5px;
		margin: 0;
		width: 47vw;
	}

	input::placeholder {
		color: white;
		font-family: var(--primary-font);
		font-size: 1.6vw;
		font-weight: lighter;
	}

	textarea::placeholder {
		color: white;
		font-family: var(--primary-font);
		font-size: 1.6vw;
		font-weight: lighter;
	}

	input[type=text] {
		color: white;
		font-family: var(--primary-font);
		font-size: 1.6vw;
		font-weight: lighter;
		padding-left: 1vw;
	}

	textarea[type=text] {
		color: white;
		font-family: var(--primary-font);
		font-size: 1.6vw;
		font-weight: lighter;
	}

	.contact-container {
		display: flex;
		margin-top: 3vw;
		margin-bottom: 3vw;
	}

	.contact-header {
		font-size: 2vw;
	}

	.contact-name {
		color: white;
		margin-bottom: 1vw;
		margin-top: 1vw;
	}

	.contact-info {
		width: 15vw;
		height: auto;
		margin-right: 5vw;
	}

	.contact-info p {
		font-size: 1vw;
	}

	.contact-image {
		width: 14vw;
		height: 16vw;
		border: 1px solid white;
	}

	#contact-sub-section {
		margin: 0;
	}

	.flexbox {
		display: flex;
		flex-wrap: wrap;
		width: 100vw;
	}

	.contact-field {
		width: 45vw;
	}

	.contact-reps {
		width: 45vw;
		padding-left: 10vw;
		margin-left: 2vw;
	}

	/* LANDING PAGE DESKTOP */

	table {
		font-size: 2.2vw;

	}

	.scroll-arrow {
		font-size: 5vw;
	}
}


/* --------------- MEDIA QUERIES LARGE DESKTOP -----------------------------*/

@media (min-width: 1280px) {

	
	div.nav-overlay nav ul {
		list-style: none;
		padding: 0;
		color: #fff;
		font-size: 60px;
		font-weight: bold;
		line-height: 2.025;
		position: relative;
		top: 110px;
		margin: 0;
	}


	/* --------------- LANDING PAGE LARGE DESKTOP -----------------------------*/
	h3.date {
		left: 0;
		top: 30px;
		margin: 0;
		font-size: 2vw;
		font-weight: 100;
		width: 100%;
		text-align: center;
	}

	p {
		font-size: 20px;
		line-height: 1.6;
		/* font-weight: 100; */
	}

	.logo {
		width: 38px;
		height: 46px;
		left: 50px;
		top: 16px;
		background-repeat: no-repeat;
	}

	div.burger-menu {
		top: 30px;
		right: 70px;
	}

	div.lang {
		right: 13px;
		top: 18px;
	}

	.lang-popup {
		right: 10px;
	}

	div.top-bar p {
		font-size: 27px;
	}


	h1 {
		font-size: 5vw;
		width: 100vw;
		bottom: 35%;
	}

	h1 em {
		font-size: 6.6vw;
	}

	h2 {
		font-size: 25px;
	}

	h2 em {
		font-size: 30px;
	}

	.item-a p {
		padding-bottom: 50px;
	}

	.item-a {
		padding-top: 50px;
	}

	.item-c {
		padding-top: 5vw;
	}


	.pull-tab {
		height: 75px;
		width: 100%;
		left: 0px;
	}

	img {
		height: 100%;
		width: 100%;
		border-radius: 10px;
		top: 0;
	}

	.img-wrap {
		height: 500px;
		width: 500px;
	}

	article {
		padding: 0 50px;
		width: 500px;

	}

	.container-section {
		margin: 50px auto 0;
		width: 1000px;
	}

	.countdown-wrap {
		height: 30vw;
		width: 100vw;
		margin: 50px 0;
	}

	.countdown-overlay {
		height: 100%;
		width: 100%;

	}

	h2.countdown {
		font-size: 7vw;
		width: 80vw;
		left: 10vw;
		padding: 0;
		top: 5vw;
	}

	.countdown-gradient-bottom {
		height: 30%;
		width: 100%;
		bottom: 0;
	}

	.content section {
		margin: 0 auto 50px;
	}

	.sub-sectiontop,
	.sub-section {
		padding: 0 4vw;
		width: 70vw;
	}

	.sub-gradient-transition-bottom {
		height: 10vw;
	}

	h1.sub-header {
		position: absolute;
		top: 5rem;
	}
	
	h1.sub-header em {
		font-size: 4vw !important;

	}

	h2.sub-question {
		font-size: 2vw;
		margin-top: 0vw;
	}

	.article-header {
		font-size: 26px;
	}

	i.fas.fa-chevron-down {
		font-size: 47px;
		padding-top: 12px;
		right: 10px;
	}

	.sub-section {
		margin-bottom: 200px;
	}

	/*
	div.countdown-wrap div.gradient-transition-bottom{
		height: 10vw;
		display: block;
	}
*/

	section.newsletter {
		width: 100%;
	}

	section.newsletter p {
		width: 100%;
	}

	.newsletter div.input-container {
		width: 500px;
		margin: 0 auto;
		height: 80px;

		border-radius: 14px;
	}

	.newsletter div.input-container input {
		left: 10px;
		border-radius: 14px;
		top: 10px;
		height: 60px;
		width: 75%;
		padding: 0 20px 0;
		background-color: var(--dark-color);
	}

	.newsletter div.input-container input::placeholder {
		font-size: 20px;
	}

	.newsletter div.input-container div {}

	footer {

		width: 100vw;
	}

	/* --------------- GLOBAL DESKTOP DESKTOP STYLES ----------------------*/
	.sub-banner {
		height: 20vw;
		top: 0;
	}

	.sub-gradient-transition-bottom {
		height: 10vw;
		width: 100%;
		z-index: 1;
		/* bottom: -1px; */
	}

	.sub-header {
		bottom: 35%;
		font-size: 8vw;
		line-height: 1.208;
		z-index: 2;
	}

	.sub-sectiontop,
	.sub-section {
		padding: 0 5vw;
	}

	.sub-question {
		font-size: 1.5vw;
		margin-top: 0;
		margin-bottom: .5vw;
		line-height: 1.5;
		font-weight: 700;
		padding-top: 1vw;
	}

	.sub-tip {
		font-size: 1.6vw;
		margin-top: 0;
		line-height: 1.5;
	}

	.sub-section {
		margin-bottom: 200px;
		/* width: 75vw; */
		/* margin: 8vw auto; */
	}


	/* --------------- SIGNUP/INFO PAGE DESKTOP -----------------------------*/

	hr {
		width: 100%;
		opacity: .7;
	}

	.article-header {
		font-size: 2vw;
		width: 100%;
	}

	i.fas.fa-chevron-down {
		font-size: 3vw;
		padding-top: 1.5vw;
		padding-right: 1vw;
		right: 0;
	}



	.item-description {
		line-height: 1.8;
		font-size: 1.6vw;
		height: 20vw;
		margin: 0;
	}


	/* --------------- CONTACT PAGE DESKTOP -----------------------------*/

	textarea {
		padding: 1vw;
		width: 45vw;
		height: 30vw;
		margin-top: 2vw;
		border-radius: 5px;
	}

	input {
		width: 23vw;
		height: 4vw;
		border-radius: 2px;
	}

	.btn {
		margin-top: 1vw;
		font-size: 1.5vw;
		border-radius: 5px;
		width: 14vw;
		height: 4vw;
		padding: 2.5vw;
	}

	label {
		width: 12vw;
		font-size: 1.5vw;
	}

	legend {
		font-size: 2vw;
	}

	fieldset {
		padding-top: 3vw;
		border-radius: 5px;
		margin: 0;
		width: 47vw;
	}

	input::placeholder {
		font-size: 1.6vw;
	}

	textarea::placeholder {
		font-size: 1.6vw;
	}

	input[type=text] {

		font-size: 1.6vw;
		padding-left: 1vw;
	}

	textarea[type=text] {
		font-size: 1.6vw;
	}

	.contact-container {
		margin-top: 3vw;
		margin-bottom: 3vw;
	}

	.contact-header {
		font-size: 2vw;
	}

	.contact-name {
		font-size: 1.5vw;
		margin-bottom: 1vw;
		margin-top: 1vw;
	}

	.contact-info {
		width: 15vw;
		height: auto;
		margin-right: 5vw;
	}

	.contact-info p {
		font-size: 1vw;
	}

	.contact-image {
		width: 14vw;
		height: 16vw;
	}

	#contact-sub-section {
		margin: 0;
	}

	.flexbox {
		width: 100vw;
	}

	.contact-field {
		width: 45vw;
	}

	.contact-reps {
		width: 45vw;
		padding-left: 10vw;
		margin-left: 2vw;
	}

	/* LANDING PAGE DESKTOP */

	table {
		font-size: 1.6vw;

	}

	.scroll-arrow {
		font-size: 5vw;
	}

	.top-bar > a {
		z-index: 10;
	}
}